---
title: "Chronik '77 bis '81"
layout: default
stylesheet: "chronik.css"
date: "2025-09-11"
---
<header>
    <a href="/">cieszynski.de</a>
    <a href="./" style="margin-left: auto;">zurück</a>
</header>
<h1>{{ page.title }}</h1>
<main>
    {% for record in site.data.chronik %}

    {% for entry in record %}
    <article id="a{{ forloop.parentloop.index }}{{ forloop.index }}">
        {% if forloop.parentloop.index > 1 %}
        <a href="#a{{ forloop.parentloop.index | minus: 1}}{{ forloop.index }}" class="nav up">up</a>
        {% endif %}

        {% if forloop.parentloop.index != forloop.parentloop.length %}
        <a href="#a{{ forloop.parentloop.index | plus: 1}}{{ forloop.index }}" class="nav down">down</a>
        {% endif %}

        {% if forloop.index !=1 %}
        <a href="#a{{ forloop.parentloop.index }}{{ forloop.index | minus: 1 }}" class="nav left">left</a>
        {% endif %}

        {% if forloop.index !=5 %}
        <a href="#a{{ forloop.parentloop.index }}{{ forloop.index | plus: 1 }}" class="nav right">right</a>
        {% endif %}

        {% assign years = "1977, 1978, 1979, 1980, 1981" | split: ", " %}
        {% assign year = years[forloop.index0] %}
        {% assign doy = forloop.parentloop.index | prepend: '000' | slice: -3, 3 %}
        {% assign date = year | append: "-" | append: doy | date: "%Y-%m-%d" %}
        <time datetime="{{ date | date_to_xmlschema }}">{% include locale-date.html date=date %}</time>

        {% for item in entry %}
        <details name="a{{ forloop.parentloop.parentloop.index }}{{ forloop.parentloop.index }}" {% if forloop.index==1
            %}open{% endif %} class="{{ item.class | default: 'local' }}">
            <summary>
                <h2>{{ item.title }}</h2>
            </summary>
            <p>{{ item.text }}</p>
        </details>
        {% endfor %}

    </article>
    {% endfor %}

    {% endfor %}
</main>

<footer>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0 license</a>
    <a href="/rechtliches.html">Impressum | Datenschutz</a>
</footer>