---
layout: default
stylesheet: zeitmaschine.css
title: Zeitmschine
---
<header>
    <a href="/">cieszynski.de</a>
    <a href="../" style="margin-left: auto;">zurück</a>
</header>
<img style="width: 100%" src="/assets/images/zeitmaschine-colored-plain.svg" alt="">
<main>
    <h1>Zeitmaschine</h1>
    <p>
        Beginn deine Zeitreise in die Jahre 1977 bis 1981 anhand von Zeitungsmeldungen.
    </p>

    {% for post in paginator.posts %}
    <section>
        <time datetime="{{ post.date }}">{% include locale-date.html date=post.date%}</time>
        <h2>{{ post.title }}</h2>
        {{ post.excerpt }}
        <a href="{{ post.url | relative_url }}">Zur Meldung</a>
    </section>
    {% endfor %}

</main>
<nav class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" title="vorherige Seite">&#x27F5;</a>
    {% endif %}

    {% for num in (1..paginator.total_pages) %}
    {% if num == paginator.page %}
    <a class="current">{{ num }}</a>
    {% elsif num == 1 %}
    <a href="{{ site.paginate_path | relative_url | replace: 'seite:num/', '' }}">{{ num }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" title="nächste Seite">&#x27F6;</a>
    {% endif %}
</nav>

<!--     <aside>
        {% for category in site.categories %}
        <a href="{{ category[0] | relative_url }}">{{ category[0] | capitalize }}</a>
        {% endfor %}
    </aside> -->
<footer>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0 license</a>
    <a href="/rechtliches.html">Impressum | Datenschutz</a>
</footer>