@import url("/assets/css/default.css");

@layer theme {

    body {
        background-color: #504a46;
        font-family: fjallaoneregular;
    }

    footer {
        color: #fff;
    }

    h1 {
        font-family: fjallaoneregular;
        text-align: center;
        width: 100%;
    }

    header {
        display: flex;
        color: #fff;
        padding: 16px;
    }

    main {
        background-color: #c7c2b6;
        border-radius: 16px;
        padding: 16px;
        gap: 16px;
    }

    nav {
        gap: 16px;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        width: 100%;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border-radius: 24px;
            color: #ffffff;
            background-color: #000000;
            position: relative;

            &.current {
                color: #000000;
                background-color: #ffffff;
            }

            &.next::after {
                position: absolute;
                inset: 0;
                content: "X";
                background-color: #ffffff;
                clip-path: polygon(5% 5%, 95% 95%, 5% 95%, 5% 5%);
            }
        }
    }

    p {
        text-align: center;
        width: 100%;
    }

    section {
        gap: 16px;
        padding: 16px;
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        /* aspect-ratio: 2; */
        min-width: min(100%, 320px);
        background-color: #fcfbf2;
        box-shadow: 5px 5px 5px #666;
        border-radius: 8px;
        padding: 32px;
        text-align: center;
        /* overflow: clip; */
        flex: 1;

        &:nth-of-type(2n) {
            rotate: -.5deg;
        }

        &:nth-of-type(3n) {
            rotate: .5deg;
        }

        &:nth-of-type(4n) {
            rotate: -1deg;
        }

        &:nth-of-type(5n) {
            rotate: 1deg;
        }

        &>a {
            display: flex;
            position: absolute;
            align-items: end;
            justify-content: end;
            padding: 16px;
            inset: 0;
        }
    }
}