<!DOCTYPE html>
<html lang="de">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#363c45">
    <meta name="description" content="{{ page.excerpt | strip_html  }}">
    <meta name="author" content="Stephan Cieszynski">

    <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
    <link rel="icon" type="image/png" sizes="32x32" href="/7781/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/7781/assets/images/favicon-16x16.png">

    <style>
        @import url("/assets/css/global.css");
        @import url("/7781/assets/css/local.css");

        @layer theme {

            main {
                flex-flow: column;
            }
        }
    </style>
</head>

<body>
    <header>
        <a href="/">cieszynski.de</a>
        <a href="../">zurück</a>
    </header>
    <img src="{{ 'assets/images/7781-vorm-fernseher-plain.svg' | relative_url }}" alt="">
    <main>
        <article>
            <h1>
                Fernsehen: {{ page.title }}
            </h1>
            {{ content }}
        </article>
        <nav class="more">
            <h2>Zum Weiterlesen:</h2>
            {% for entry in site.fernsehen %}
            {% if page.title!=entry.title %}
            <a href="{{ entry.url | relative_url }}">{{ entry.title }}</a>
            {% endif %}
            {% endfor %}
        </nav>
        <aside>
            Weißt du es besser? War es anders? Dann schreibe mir unter
            <a href="mailto:ich-weiss-was@cieszynski.de" class="nobr">
                ich-weiss-was@cieszynski.de
            </a>
        </aside>
    </main>
    {% include global-footer.html %}
</body>