<!DOCTYPE html>
<html lang="de">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ 'assets/css/zeitmaschine.css' | relative_url }}">
</head>

<body>
    <header>
        <div>
            <a href="/">cieszynski.de</a>/<a href="/7781/">7781</a>
            <a href="{{ 'zeitmaschine' | relative_url }}">zurück</a>
        </div>
    </header>
    <img src="{{ 'assets/images/zeitmaschine-plain.svg' | relative_url }}" alt="">
    <main>
        <article class="post" style="display: flex; flex-flow: column;">
            <header>
                <time datetime="{{ page.date }}">{% include locale-date.html date=page.date %}</time>
                <h1>{{ page.title }}</h1>
            </header>
            {{ content }}
            {% for source in page.sources %}
            <cite>{{ source }}</cite>
            {% endfor %}
            <!--{% for post in site.posts %}{% if page==post %}{{ forloop.index }}{% endif %}{% endfor %}-->
        </article>

        <aside>
            {% if page.previous %}
            <a class="previous" href="{{ page.previous.url | relative_url }}">
                Weiter am <time datetime="{{ page.previous.date }}">{% include locale-date.html
                    date=page.previous.date%}</time>
            </a>
            {% endif %}
            {% if page.next %}
            <a class="next" href="{{ page.next.url | relative_url }}">
                Weiter am <time datetime="{{ page.next.date }}">{% include locale-date.html date=page.next.date%}</time>
            </a>
            {% endif %}

            {% include distinct-tag-list.html %}
        </aside>
    </main>
    <footer>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0 license</a>
        <a href="/rechtliches.html">Impressum | Datenschutz</a>
    </footer>
</body>

</html>